<app-fashion-header></app-fashion-header>
<!-- <main>
    <app-hero-banner></app-hero-banner>
    <app-shop-by-category></app-shop-by-category>
    <app-new-arrivals> </app-new-arrivals>
    <app-bestselling-product></app-bestselling-product>
    <app-recommended-product></app-recommended-product>

</main>
<app-footer [style_2]="true"></app-footer>

<app-all-products></app-all-products>
<app-featured-products></app-featured-products>
<app-trending-items></app-trending-items>
<app-best-selling-items></app-best-selling-items>
<app-testimonial></app-testimonial>
<app-feature></app-feature>
<app-instagram-area></app-instagram-area>
<app-feature-curations></app-feature-curations>
<app-recommended-products></app-recommended-products>-->