<footer *ngIf="company">
   <div class="tp-footer-area" data-bg-color="#F5F5F5">

      <!-- Footer Top -->
      <div class="tp-footer-top">
         <div class="container-fluid px-5">
            <div class="row">

               <!-- Logo + Contact -->
               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                  <div class="tp-footer-widget footer-col-4-1 mb-50">
                     <div class="tp-footer-logo">
                        <a [routerLink]="company.logo.link">
                           <img [src]="company.logo.src" alt="logo" />
                        </a>
                     </div>

                     <div class="tp-footer-widget-content">
                        <div class="tp-footer-talk mb-20">
                           <span>Got Questions? Call us</span>
                           <h4>
                              <a [href]="'tel:' + company.contact.phone">
                                 {{ company.contact.phone }}
                              </a>
                           </h4>
                        </div>

                        <div class="tp-footer-contact">
                           <div class="tp-footer-contact-item d-flex align-items-start">
                              <div class="tp-footer-contact-content">
                                 <p>
                                    <a [href]="'mailto:' + company.contact.email">
                                       {{ company.contact.email }}
                                    </a>
                                 </p>
                              </div>
                           </div>

                           <div class="tp-footer-contact-item d-flex align-items-start">
                              <div class="tp-footer-contact-content">
                                 <p>
                                    <a [href]="company.contact.addressLink" target="_blank">
                                       {{ company.contact.address }}
                                    </a>
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Sections (My Account, Info, etc.) -->
               <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6" *ngFor="let section of company.sections">
                  <div class="tp-footer-widget mb-50">
                     <h4 class="tp-footer-widget-title">{{ section.title }}</h4>
                     <div class="tp-footer-widget-content">
                        <ul>
                           <li *ngFor="let link of section.links">
                              <a [href]="link.url">{{ link.label }}</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>

               <!-- Subscribe + Social -->
               <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                  <div class="tp-footer-widget footer-col-4-4 mb-50">
                     <h4 class="tp-footer-widget-title">{{ company.subscribe.title }}</h4>
                     <div class="tp-footer-widget-content">
                        <p>{{ company.subscribe.description }}</p>
                        <div class="tp-footer-social-4 tp-footer-social">
                           <h4 class="tp-footer-social-title-4">
                              {{ company.social.title }}
                           </h4>
                           <!-- <app-social-links [links]="company.social.links"></app-social-links> -->
                        </div>
                     </div>
                  </div>
               </div>

            </div>
         </div>
      </div>

      <!-- Footer Bottom -->
      <div class="tp-footer-bottom">
         <div class="container-fluid px-5">
            <div class="tp-footer-bottom-wrapper">
               <div class="row align-items-center">
                  <div class="col-md-6">
                     <p>© {{ getYear() }} {{ company.bottom.copyright }}</p>
                  </div>
                  <div class="col-md-6 text-md-end">
                     <img [src]="company.bottom.paymentImg" [alt]="company.bottom.paymentAlt" />
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</footer>